<div id="<%= dom_id amazon_credential %>">
  <p>
    <strong>Access token:</strong>
    <%= amazon_credential.access_token %>
  </p>

  <p>
    <strong>String:</strong>
    <%= amazon_credential.string %>
  </p>

  <p>
    <strong>Refresh token:</strong>
    <%= amazon_credential.refresh_token %>
  </p>

  <p>
    <strong>String:</strong>
    <%= amazon_credential.string %>
  </p>

</div>
