<p style="color: green"><%= notice %></p>

<% content_for :title, "Amazon credentials" %>

<h1>Amazon credentials</h1>

<div id="amazon_credentials">
  <% @amazon_credentials.each do |amazon_credential| %>
    <%= render amazon_credential %>
    <p>
      <%= link_to "Show this amazon credential", amazon_credential %>
    </p>
  <% end %>
</div>

<div class="amazon-login-section">
  <% if @amazon_credentials.none? %>
    <%= link_to "Connect to Amazon", login_amazon_credentials_path, class: "amazon-login-button" %>
  <% end %>
</div>

<style>
.amazon-login-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff9900;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 20px;
}

.amazon-login-button:hover {
  background-color: #ff8400;
}
</style>

<%= link_to "New amazon credential", new_amazon_credential_path %>
